In [3]:
1+1

2

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_73cfa99d8161482187b82d2a3a781aef = 'https://s3-api.us-geo.objectstorage.softlayer.net'
else:
    endpoint_73cfa99d8161482187b82d2a3a781aef = 'https://s3-api.us-geo.objectstorage.service.networklayer.com'

client_73cfa99d8161482187b82d2a3a781aef = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='Uwhl8ymMlU3iffS74Um8I_ar_VvBkGFkWF7vgvm8k8X6',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_73cfa99d8161482187b82d2a3a781aef)

body = client_73cfa99d8161482187b82d2a3a781aef.get_object(Bucket='lwtesting1200818-donotdelete-pr-kjzsarxpg8s6wu',Key='sampleunit.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Type,HW_Model,Serial,Tag,Rego,Last_Event,Last_Location,Unit_ID,VIN,Linked,A,S,C,Diag_Config
0,Magneti,NaN,9CAN6V19N,NaN,NaN,10/10/2020 7:35:28 PM,NaN,1385102264,1FTYE1ZM2FKA00207,NaN,True,NaN,NaN,NaN
1,vCore,NaN,10:010030013289188,1146146,NaN,3/23/2021 8:22:19 PM,NaN,1238605249,1FTNE1EW2EDA98541,9/14/2019 1:06:10 AM,True,NaN,NaN,NaN
2,vG3,NaN,SIM_d3f8241c-037b-11e1-a86c-2bc31468140c,153192167,78651,3/23/2021 9:23:07 PM,NaN,169642954,NaN,NaN,True,NaN,NaN,NaN
3,Web,NaN,1376675962,156542,246zad,2/18/2020 5:42:35 PM,NaN,1376675962,Due,2/18/2020 5:42:35 PM,True,NaN,NaN,NaN
4,vG3,NaN,SIM_d3ec3904-037b-11e1-ac33-1bfb71cd7d71,160980309,NaN,3/23/2021 9:43:35 PM,NaN,169643478,NaN,NaN,True,NaN,NaN,NaN